@using Microsoft.AspNetCore.Identity
@using Bookstore.Data


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">

                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>

                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>

        
    </form>
}
else
{

    <ul class="aa1" color:white; list-style-type:none;">
        <li><a asp-area="Identity" asp-page="/Account/Login" cssClass="HyperLinkHover"><i class="fa fa-user" aria-hidden="true"></i></a></li>
    </ul>
}